{% extends "dashboard/base.html" %} {% load static %} 

{% block content %}
<div class="container">

    <div class="row">
      <div class="col-md-6">
      <div class="card card-body">
          <p>Etes vous sur de voilir supprmer {{ category }} ? </p>
          <form action="{% url 'delete-category' category.id %}" method="post">
          {% csrf_token %}
          <a href="{% url 'categories' %}" class="btn btn-warning">Cancel</a>
              <input class="btn btn-danger" type="submit" value="Confirm">
          </form>
      </div>
      </div>
    </div>
</div>
{% endblock  %}
