{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container">
    <h1>Modfier article</h1>

    <div class="card border-0">
        <div class="card-body">

            <form class="p-1" action="{% url 'update-article' pk=articleId %}" method='POST'>
                {% csrf_token %}
                <input type="hidden" name="articleId" value="{{ articleId }}">
                <div class="form-group">{{ Article_form }}</div>
            
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            
         
        </form>
        </div>
    </div>
     

</div> 

{% endblock content %}